/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "foundation_and_overrides";
@import "font-awesome";
@import "page_header";
@import "brands";

.title-bar {
	margin-bottom: $global-margin;
}

select {
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
}

dl {
	dd {
		margin-bottom: $global-margin;
	}
}


.grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
  .grid-container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.price-range-form {
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 0.5 * $global-margin;
}