<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="offCanvas"></button>
    <span class="title-bar-title">Quotation Calculator</span>
  </div>
  <div class="title-bar-right">
  </div>
</div>